@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;800&display=swap");
@import "../styles/swiper.css";
@import "../styles/portfolio.css";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}
